body{
    background-color: mediumvioletred;
}


.container{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid brown ;
    border-radius: 5px;
    background-color:violet;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .high-priority {
    color: red;
  }
  